/*Esercizio 1*/



.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover {
    background-color: red;
    transition: background-color 5s linear;
}

/*Esercizio 2*/

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:hover {
    transition: width 5s linear;
    width: 600px;
    height: 100px;
    background: red;
}




/*Esercizio 3*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    transition: border-radius 5s linear;
    border-radius: 50%;
}


/*Esercizio 4*/


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation: vanish 5s linear 5s;
}

@keyframes vanish {
    100% {
        opacity: 0%
    }

    0% {
        opacity: 100%
    }
}



/*Esercizio 5*/


.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    height: 120px;
    width: 120px;
}

.ex-5-square:active {
    height: 80px;
    width: 80px;
}



/*Esercizio 6*/

.ex-6-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/*Esercizio 7*/

.ex-7-img {
    width: 500px;
    animation: filtri 5s linear 5s;
}

@keyframes filtri {
    0% {
        filter: sepia(0) brightness(0x);
    }

    100% {
        filter: sepia(100%) brightness(100%);
    }
}

/*Esercizio 8*/

.ex-8-img {
    width: 500px;
    animation: effettoni 5s linear 5s;
}

@keyframes effettoni {
    0% {
        filter: sepia(0) brightness(0x)
    }

    100% {
        filter: sepia(100%) brightness(100%);
    }

    0% {
        border-radius: 0;
    }

    100% {
        border-radius: 50%;
    }


}

/*Esercizio 9*/

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    animation: effettazzi 5s linear 5s;
}

@keyframes effettazzi {
    0% {
        filter: sepia(0) brightness(0x)
    }

    100% {
        filter: sepia(100%) brightness(100%);
    }

    0% {
        border-radius: 0;
    }

    100% {
        border-radius: 50%;
    }

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

/*Esercizio 10*/
.ex-10-icon {
    font-size: 60px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





/*Esercizio 11*/
.ex-11-icon {
    font-size: 60px;
    transition: transform 2s linear;
}

.ex-11-icon:hover {
    transform: rotate(270deg);
    transition: transform 5s linear
}

/*Esercizio 12*/

.ex-12-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;

}

.ex-12-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f90101;
    width: 60px;
    height: 20px;
    animation: girare 5s linear infinite;

}

@keyframes girare {
    0% {
        top: -10px;
        left: 10%;
    }

    100% {
        top: -10px;
        left: 60%;
    }


}

.ex-12-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #ff0404;
    width: 60px;
    height: 20px;
    animation: girava 5s linear infinite;
}

@keyframes girava {
    0% {
        bottom: -10px;
        right: 20%;
    }

    100% {
        bottom: -10px;
        right: 60%;
    }


}

/*Esercizio 13*/

.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-13-top-white {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #f70101;
    width: 60px;
    height: 20px;
    animation: girotondo 10s linear infinite;
    transform: translatex(-50%) translateY(-50%)
}

@keyframes girotondo {
    0% {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 100%;
        transform: translatex(-50%) translateY(-50%)
    }

    50% {
        top: 100%;
        left: 100%;
        transform: translatex(-50%) translateY(-50%)
    }

    75% {
        top: 100%;
        left: 0%;
        transform: translatex(-50%) translateY(-50%)
    }
    100% {
        top: 0%;
        left: 0%;
        transform: translatex(-50%) translateY(-50%)

    }
}



.ex-13-bottom-white {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: #1904fb;
    width: 60px;
    height: 20px;
    transform: translatex(50%) translateY(50%);
    animation: giroquadrato 10s linear infinite;


}

@keyframes giroquadrato {
    0% {
        bottom: 0%;
        right: 0%;
        transform: translatex(50%) translateY(50%)
    }

    25% {
        bottom: 0%;
        right: 100%;
        transform: translatex(50%) translateY(50%)
    }

    50% {
        bottom: 100%;
        right: 100%;
        transform: translatex(50%) translateY(50%)
    }

    75% {
        bottom: 100%;
        right: 0%;
        transform: translatex(50%) translateY(50%)
    }
    100% {
        bottom: 0%;
        right: 0%;
        transform: translatex(50%) translateY(50%)

    }
}